*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family:sans-serif;
}

body{
    background-color: #566275;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
background-color:#4d2cb8;
border-radius: 5px;
}
::-webkit-scrollbar-thumb :hover {
background-color: #555;
}

.main{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
}

.container{
    display: flex;
    justify-content: center;
    grid-column: 1/13;
    position: relative;
}

.container img{
    width: 100%;
    filter: blur(2px) brightness(.5);
}

#blog{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-shadow: 4px 4px 8px rgba(0,0,0,.7);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrapper{
    position: absolute;
    top: 0;
    margin-left: 2rem;
    padding-top: 26%;
}

.week-1-wrapper{
    grid-column: 1/13;
    width: 70%;
    padding: 1rem;
}

#week-1{
    background-color: #fc039d;
    padding: 20px;
    color: white;
    border-radius: 20px;
    font-family: var(--font-family);
}

.week-1-wrapper h2{
    padding: 20px;
    background-color: #3f2c7d;
    font-size: 2rem;
    color: white;
    border-radius: 20px;
    font-family: var(--font-family);
}

.scrum-paragraph{
    width: 100%;
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    letter-spacing: 4px;
    white-space: pre-line;
}

.week-1-wrapper img{
    width: 60%;
    border-radius: 20px;
    margin-block: 1rem;
}

.week-2-wrapper{
    grid-column: 1/13;
    width: 70%;
    margin-left: 20px;
}

.usecase-paragraph {
    width: 100%;
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    letter-spacing: 4px;
}

.usecase-paragraph img{
    width: 60%;
    border-radius: 20px;
    margin-block: 10px;
}


.basic-requirement-appraoch-paragraph{
    display: flex;
    width: 100%;
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    letter-spacing: 4px;
    padding-left: 1rem;
    white-space: pre-line;
}

.basic-requirement-appraoch-paragraph img{
    width: 80%;
    border-radius: 20px;
}


li:nth-child(1){
    text-decoration: underline;
}

.header-section{
    width: 100%;
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    letter-spacing: 4px;
    padding-left: .2rem;
}

.reader{
    width: 100%;
    padding-left: 1rem;
    margin-block: 1rem;
}

#reader-title{
    background-color: #fc039d;
    padding: 20px;
    color: white;
    border-radius: 20px;
    font-family: var(--font-family);
}

.reader-description{
    display: flex;
    column-gap: 6rem;
    width: 100%;
}

.reader-description img{
    width: 30%;
    height: 100%;
    border-radius: 20px;
}


.usecase-model{
    width: 60%;
}

#week-2{
    background-color: #fc039d;
    padding: 20px;
    color: white;
    border-radius: 20px;
    font-family: var(--font-family);
}

.week-2-wrapper h2{
    background-color: #3f2c7d;
    font-family:var(--font-family);
    color: white;
    letter-spacing: 9px;
    padding: 1rem;
    border-radius: 20px;
    text-transform: capitalize;
}

.description p{
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    letter-spacing: 4px;
    padding-left: 1rem;
    white-space: pre-line;
    margin-block: 1rem;
}

.week-3-wrapper{
    grid-column: 1/10;
    width: 90%;
    padding: 1rem;
    margin-left: 1rem;
}

.week-3-wrapper{
    width: 100%;
}

.role-image img{
    width: 50%;
    border-radius: 20px;
    margin-block: 1rem;
}

#week-3{
    background-color: #fc039d;
    padding: 20px;
    color: white;
    border-radius: 20px;
    font-family: var(--font-family);
}

.week-3 h2{
    background-color: #3f2c7d;
    font-family:var(--font-family);
    color: white;
    letter-spacing: 9px;
    padding: 1rem;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 20px;
    margin-block: 10px;
}

.role-responsibilities,ul{
    list-style: none;
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    letter-spacing: 4px;
    text-transform: capitalize;
}

.role-responsibilities li{
    color: red;
    font-family: var(--font-family);
}

.database-image{
    width: 100%;
    display: flex;
    column-gap: 1rem;
}

.database-image img{
    width: 36%;
    height: 100%;
    border-radius: 20px;
}

.elaboration-of-database{
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    letter-spacing: 4px;
    white-space: pre-line;
}